// http://bl.ocks.org/mbostock/1667367
// http://bl.ocks.org/mbostock/3884955

.lineGraph-axis path,
.lineGraph-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.lineGraph-x.axis path {
  display: none;
}

.lineGraph-line {
  fill: none;
  stroke: #0FA8FF;
  stroke-width: 2px;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

path {
    stroke-width: 2;
    fill: none;
}

.graph {
  background-color: #000;
  font-family: 'Vollkorn', serif;
}

.brush, .lineGraph-x .lineGraph-axis, .lineGraph-y .lineGraph-axis {
  stroke: #FFF;
  fill: #FFF;
}