#map {
	width: 800px;
	height: 500px;
}

.nv_svg {
	width: 900px;
	height: 400px;
	display: none;
}

.compareBtn {
	display: none;
}

.modal-body {
	max-height: 600px;
}

.tall {
	height: 600px;
	width: 600px;
}

.resetBtn {
}


