#map {
	height: 600px;
	width: 1000px;
}

.compareBtn {
	display: none;
}

.modal-body {
	max-height: 600px;
}

.tall {
	height: 400px;
	width: 700px;
}

.resetBtn {
}

/* http://stackoverflow.com/questions/618097/how-do-you-easily-horizontally-center-a-div-using-css */
#yearSlider {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#curYear {
	float: left;
	left: 100px;
	position: absolute;
}

#endYear {
	right: 100px;
	float: right;
	position: absolute;
}

#startAnimationBtn {
	display: none;
}

body {
	background-color: black;
	color: white;
}

#banner {
	width: 1230px;
	height: 182px;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

#stats td {
	padding:10px;
}

#stats {
	width: 1000px;
}

.mainview {
	width: 100%;
}

.graph {
	background-color: white;
}

#about_modal {
	color: black;
}
