#map {
	width: 800px;
	height: 500px;
}

.nv_svg {
	width: 900px;
	height: 400px;
	display: none;
}

.compareBtn {
	display: none;
}

.modal-body {
	max-height: 600px;
}

.tall {
	height: 600px;
	width: 600px;
}

.resetBtn {
}

/* http://stackoverflow.com/questions/618097/how-do-you-easily-horizontally-center-a-div-using-css */
#yearSlider {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#curYear {
	float: left;
	left: 100px;
	position: absolute;
}

#endYear {
	right: 100px;
	float: right;
	position: absolute;
}
